@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
$progress-bar-bg: linear-gradient(
  to right,
  hsl(6, 100%, 80%),
  hsl(335, 100%, 65%)
);
$progress-border-radius: 20px;
$progress-bar-color: #151e49;
.parent {
  flex-direction: row;
  position: relative;
  width: 1440px;
  height: 800px;
  z-index: 1;
}

#object1 {
  position: relative;
  background-color: #0c122c;
  width: 1440px;
  height: 800px;
  z-index: 2;
}

#object2 {
  position: absolute;
  bottom: 0%;
  object-fit: none;
  object-position: bottom;
  z-index: 3;
}
.fylo {
  width: 350px;
  height: 200px;
  margin-top: -530px;
  margin-left: 260px;
  object-fit: none;
  z-index: 4;
  border-top-right-radius: 100px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #1e2c69;
  position: relative;
}
#fyloimg {
  margin-top: 40px;
  margin-left: 40px;
}
.icons {
  margin-top: 30px;
  margin-left: 40px;
}
#i1 {
  width: fit-content;
  height: fit-content;
  border: 16px solid #0c122c;
  border-radius: 10px;
  background-color: #0c122c;
  display: inline;
}
#i2 {
  width: fit-content;
  height: fit-content;
  border: 18px solid #0c122c;
  display: inline;
  border-radius: 10px;
  margin-left: 16px;
  margin-right: 16px;
  background-color: #0c122c;
}
#i3 {
  width: fit-content !important ;
  height: fit-content !important ;
  display: inline !important ;
  border: 19px solid #0c122c !important ;
  border-radius: 10px !important ;
  background-color: #0c122c !important ;
}
.storage {
  font-size: 14px !important ;
  color: white !important ;
  width: 545px !important ;
  height: 155px !important ;
  z-index: 4 !important ;
  background-color: #1e2c69 !important ;
  margin-top: -155px !important ;
  margin-left: 630px !important ;
  position: relative !important ;
  border-radius: 20px !important ;
  font-family: "Raleway", sans-serif !important ;
}

#thousand {
  color: white !important ;
  font-family: "Raleway", sans-serif !important ;
  position: absolute !important ;
  display: inline !important ;
  vertical-align: bottom !important ;
  margin-left: 420px !important ;
  margin-top: -35px !important ;
}

h4 {
  color: white !important ;
  font-family: "Raleway", sans-serif !important ;
  font-size: 14px !important;
}
h3 {
  font-family: "Raleway", sans-serif !important ;
  font-weight: 400 !important ;
  font-size: 14px !important ;
}
.inside {
  padding: 30px !important ;
}

.progress {
  background-color: $progress-bar-color !important;
  margin-left: 2px;
  margin-right: 10px;
  margin-top: 15px !important;
  margin-bottom: 15px !important ;
  border-radius: $progress-border-radius !important;
}
.progress-bar {
  border: 3px solid $progress-bar-color !important;
  color: $progress-bar-color !important;
  border-radius: $progress-border-radius !important;
  background-color: transparent !important;
  background-image: $progress-bar-bg !important ;
}
#circle {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: white;
  margin-left: -12px;
  margin-top: 3.5px;
}
#message {
  margin-left: 360px;
  margin-top: -75px;
  position: absolute !important;
}
#number {
  margin-top: -50px;
  margin-left: 410px;
  color: #0c122c;
  font-weight: 700;
  position: absolute !important;
}
#left {
  margin-top: -35px;
  margin-left: 465px;
  color: #9fa0a5 !important;
  font-size: 10px;
  font-weight: 700;
  position: absolute !important;
}
@media (max-width: 767px) {
  body {
    background-image: url("images/bg-mobile.png");
  }
}

@import "bootstrap/scss/bootstrap";
